body {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}
* {
    padding: 5px;
}
.main {
    display: flex;
    justify-content: center;
}
.in {
    display: flex;
    justify-content: center;
    background-color: rgb(149, 8, 8);
    width: 750px;
    border-radius: 5px;
    flex-direction: column;
}
.in button {
    background-color: black;
    color: white;
}
.in input {
    color: black;
    text-indent: 10px;
}
.visualPoster {
    color: black;
    background-color: white;
}
#films {
    color: black;
}
.deletedFilm {
    background-color: red;
    width: 100px;
}